body{
	color: #352b20;
	font-family: ProximaNovaReg;
}

.bg-orange{
	background-color: #ff7f50 !important;
}

.bg-brown{
	background-color: #514444 !important;
}

.bg-lightgrey{
	background-color: #dddddd !important;
}

.bg-lightbrown{
	background-color: #efeae6 !important;
}

.bg-yellowbrown{
	background-color: #c6bba2 !important;
}

.bg-white{
	background-color: #ffffff !important;
}

.white{
	color: #ffffff !important;
}

.orange{
	color: #ff7f50 !important;
}

.brown{
	color: #514444 !important;
}

.lightgrey{
	color:  #cccccc !important;
}

.grey{
	color: #999999 !important;
}

.resize-h-200{
	height: 200px;
	width: auto;
}

.resize-h-75{
	height: 75px;
	width: auto;
}

.resize-w-200{
	width: 200px;
	height: auto;
}

.resize-w-50{
	width: 50px;
	height: auto;
}

.resize-w-75{
	width: 75px;
	height: auto;
}

.resize-w-100{
	width: 100px;
	height: auto;
}

.h1.left, .desc.left: {
	text-align: left !important;
}

.btn{
	font-family: GothamRounded-Medium;
	text-align: center;
}

/* primary button */
.btn-1{
	background-color: #ff7f50;
	color: #fff;
	border-radius: 6px;
	padding: 7px 20px;
	text-align: center;
	font-size: 13px;
}

.btn-1:hover, .btn-1:focus, .btn-1:active{
	background-color: #EB6534;
	color: #fff;
	/*color:  #514444;*/
}


/* secondary button */
.btn-2{
	background-color: #c6bba2;
	color: #fff;
	border-radius: 6px;
	padding: 7px 20px;
	text-align: center;
	font-size: 13px;
}

.btn-2:hover, .btn-2:focus, .btn-2:active{
	background-color: #B5A98F;
	color: #fff;
}


/* button with icon */
.btn-3.gry{
	background-color: #ddd;
	border-radius: 6px;
	padding: 2px 8px;
	text-align: center;
	font-size: 13px;
}

.btn-3.gry:hover, .btn-3.gry:focus, .btn-3.gry:active{
	background-color: #49b979;
	color: #fff;
}

.btn-3.org{
	background-color: #ff7f50;
	color: #fff;
	padding: 2px 8px;
}

.btn-3.org:hover, .btn-3.org:focus, .btn-3.org:active{
	background-color: #EB6534;
	color: #fff;
	/*color:  #514444;*/
}

/* big button */
.btn-4{
	background-color: #ff7f50;
	width: 100%;
	text-align: center;
	color: #fff;
}

.btn-4:hover, .btn-4:focus, .btn-4:active{
	background-color: #EB6534;
	color: #fff;
}

.btn > i{
	margin-left: -20px;
}

.btn > span{
	vertical-align: super;
}

.falink{
	font-size: 20px;
}

.sz32{
	font-size: 32px;
}

.sz20{
	font-size: 20px;
}

.sz16{
	font-size: 16px;
}

.sz12{
	font-size: 12px;
}

.no-margin{
	margin: 0px;
	margin-top: 5px;
}

.margin-5{
	margin: 5px;
}

.wrap{
	margin: 0px;
	padding: 0px;
}

.left-0{
	margin-left: 0px;
}

.left-15{
	margin-left: -15px;
}

.left--15{
	margin-left: 15px;
}

.left-20{
	margin-left: -20px;
}

.left-30{
	margin-left: -30px;
}

.left-35{
	margin-left: -35px;
}

.left-50{
	margin-left: -50px;
}

.right-15{
	margin-right: 15px;
}

.top-7{
	margin-top: 7px;
}

.top-15{
	margin-top: 15px;
}

.bottom-7{
	margin-bottom: 7px;
}

.bottom-15{
	margin-bottom: 15px;
}

.margin-5-10{
	margin: 5px 10px;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
	/*text-align: right;*/
}

button, button:active, button:visited, button:focus, a, a:active, a:visited, a:focus {
	outline: none !important;
}

button::-moz-focus-inner {
  border: 0;
}

.box-img {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
}
.box-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.box-img img.portrait {
  width: 100% !important;
  height: auto;
}

.box-img-25 {
  position: relative;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.box-img-25 img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.box-img-25 img.portrait {
  width: 100% !important;
  height: auto;
}

.img-float-left{
	float: left;
	margin-right: 15px;
	margin-top: 5px;
	margin-bottom: 8px;
}

/* EMBEDED FONTS */
@font-face {
    font-family: GothamRounded-Medium;
    src: url('../fonts/GothamRounded-Medium.otf');
}

@font-face {
    font-family: Bariol_Regular;
    src: url('../fonts/Bariol_Regular.otf');
}

@font-face {
    font-family: Proxima Nova Sbold;
    src: url('../fonts/Proxima Nova Sbold.otf');
}

@font-face {
    font-family: ProximaNovaReg;
    src: url('../fonts/ProximaNovaReg.otf');
}