.nav.profilepage{
	height: 60px;
	background-image: url('../img/meetchangeicon.png');
	background-size: 35px 35px;
	background-repeat: no-repeat;
    background-position: left 80px center;
    box-shadow: 0px 2px 15px rgba(255,255,255,0.15);
	-moz-box-shadow: 0px 2px 15px rgba(255,255,255,0.15); 
	-webkit-box-shadow: 0px 2px 15px rgba(255,255,255,0.15); 
	/*position: fixed;*/
	z-index: 10;
}

.nav.subnav{
	height: 45px;
}

.subnav a{
	font-weight: bold;
	color: #514444 !important;
}

.form-search{
	margin-top: 13px;
}

.subnav > div > .navbar-nav > li > a {
    padding-top: 12px !important;
    padding-bottom: 13px !important;
    margin-top: -2px;
}

.subnav > div > .navbar-nav > li > a:hover{
	background-color: #c6bba2 !important;
}

.section{
	padding-top: 35px;
	padding-bottom: 35px;
}

.section.cover{
	background-image: url('../img/bg.jpg');
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	/*background-position:center;*/
	/*margin-top: 95px;*/
	height: 300px;
	-webkit-box-shadow: inset 0px -200px 73px -100px rgba(0,0,0,0.65);
	-moz-box-shadow: inset 0px -200px 73px -100px rgba(0,0,0,0.65);
	box-shadow: inset 0px -200px 73px -100px rgba(0,0,0,0.65);
}

.section.why{
	padding-top: 50px;
	background-color: #dddddd;
	height: 700px;
}

.section.who{
	background-color: #ffffff;
	height: 1200px; 
}

.footer{
	height: 50px;
}

.why.box{
	height: 175px;
	margin-top: 50px;
}

.who.middle{
	margin-top: 100px;
}

.h1.homepage{
	font-family: Bariol_Regular;
	font-size: 28px;
	text-align: center;
}

.h1.homepage.who{
	text-align: left !important;
}

.h1.homepage.who.right {
	text-align: right !important;
}

.why.desc{
	font-size: 19px;
	text-align: center;
}

.who.desc{
	font-size: 19px;
	text-align: left;
}

.who.desc.right{
	text-align: right !important;
}

.footer div, .footer div a{
	color: #ffffff !important;
}