<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="shortcut icon" type="image/x-icon" href="assets/img/meetchangeicon.png" />
	<link href="assets/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
	<link href="assets/css/main.css" type="text/css" rel="stylesheet"/>
	<link href="assets/css/font-awesome.css" type="text/css" rel="stylesheet"/>
	<link href="assets/css/profile.css" type="text/css" rel="stylesheet"/>
	<link href="assets/css/flaticon.css" type="text/css" rel="stylesheet"/> 
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>

<body>
	<div class="container-fluid">
		<div class="row nav bg-brown profilepage">
			<div class="col-md-4 col-md-offset-1">
				<form role="form" class="form-group form-search">
					<input class="form-control form-group" type="text"/>
				</form>
			</div>
			<div class="col-md-4">
			</div>
		</div>
		<div class="row nav subnav bg-lightbrown">
			<div class="col-md-11 col-md-offset-1">
				<ul class="nav navbar-nav">
					<li><a href="#">Beranda</a></li>
					<li><a href="#">Profil</a></li>
					<li><a href="#">Organisasi</a></li>
					<li><a href="#">Proyek</a></li>
					<li><a href="#">Penawaran</a></li>
				</ul>
			</div>
		</div>
		<div class="row section cover">
			<!-- view by others -->
			<div class="btn-cover right-50">
				<button class="btn btn-3 fa"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
				<button class="btn btn-3"><i class="flaticon-envelope54"></i><span> Kirim Meetmail</span></button>
				<button class="btn btn-3"><i class="flaticon-hand226"></i><span> Bantu Proyek Ini</span></button>
			</div>
			<!-- end view by others -->
		</div>
		<div class="row ppmenu">
			<div class="col-md-3 col-md-offset-1">
				<img class="resize-h-200 profile-photo" src="assets/img/foto2.jpg"/>
			</div>
			<div class="col-md-8">
				<div class="profile-name">
					<div class="sz32 white gotham">Air untuk Kita</div>
					<div class="sz20 white">Proyek<br></div>
				</div>
				<ul class="nav navbar-nav" id="profile-menu">
					<li><a href="#">TENTANG</a></li>
					<li class="active"><a href="#">KOLABORASI</a></li>
					<li><a href="#">KONEKSI</a></li>
					<li><a href="#">AKTIVITAS</a></li>
					<li><a href="#">LAINNYA</a></li>
				</ul>
			</div>
		</div>
		<div class="row container-content bg-lightgrey">
			<!-- SIDEBAR -->
			<div class="col-md-3 col-md-offset-1">
				<!-- INFO UMUM -->
				<div class="content-panel panel panel-default">
					<div class="panel-body">
						<div class="row left-30">
							<div class="col-md-2"><i class="flaticon-notes27"></i></div>
							<div class="col-md-10 no-margin">Distribusi air bersih di Jawa dan NTT</div>
						</div>
						<div class="row left-30">
							<div class="col-md-2"><i class="flaticon-profile29"></i></div>
							<div class="col-md-10 no-margin bottom-7 top-7">
								<a href="#">
									<div class="col-md-3 left-15">
										<img class="resize-w-50" src="assets/img/pimnas.jpeg">
									</div>
									<div class="col-md-9">
										<b>UI to PIMNAS</b><br>
										<span class="sz12 grey">Board of Trustees</span>
									</div>
								</a>
							</div>
						</div>
						<div class="row left-30">
							<div class="col-md-2"><i class="flaticon-label36"></i></div>
							<div class="col-md-10 no-margin">Tahap Awal Pengembangan</div>
						</div>
						<div class="row left-30">
							<div class="col-md-2"><i class="flaticon-location67"></i></div>
							<div class="col-md-10 no-margin">Desa Cibiru, Desa Sukamandi, Kelurahan Tatahan Utara, <a href="">+6</a></div>
						</div>
						<div class="row left-30">
							<div class="col-md-2"><i class="flaticon-favourite24" alt="Label "></i></div>
							<div class="col-md-10 no-margin">Sanitasi, Air</div>
						</div>
						<div class="row">
							<div class="col-md-12 top-15 bottom-15">
								<button class="btn btn-4">UNDUH PROPOSAL</button>
							</div>
						</div>
						<div class="row top-15">
							<div class="col-md-6 bg-lightgrey fol vertical-line">
								<center>Kolaborator</center>
							</div>
							<div class="col-md-6 bg-lightgrey fol">
								<center>Diikuti</center>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 sz16 bold vertical-line fol-numb">
								<center>42</center>
							</div>
							<div class="col-md-6 sz16 bold fol-numb">
								<center>23</center>
							</div>
						</div>
					</div>
				</div>

				<!-- AYO KOLABORASI -->
				<div class="content-panel panel panel-default">
					<div class="panel-heading">AYO KOLABORASI</div>
					<div class="panel-body panel-list-noborder">
						<div class="row">
							<div class="col-md-3">
								<img class="resize-w-50" src="assets/img/icon-dana.png">
							</div>
							<div class="col-md-5 wrap">
								<b>Rp 60.000.000</b><br>
								<span class="sz12 grey">investasi, donasi</span>
							</div>
							<div class="col-md-4">
								<button class="btn btn-1 sz12 left-15">BANTU</button>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<img class="resize-w-50" src="assets/img/icon-sdm.png">
							</div>
							<div class="col-md-5 wrap">
								<b>Content Editor</b><br>
								<span class="sz12 grey">part-time</span>
							</div>
							<div class="col-md-4">
								<button class="btn btn-1 sz12 left-15">BANTU</button>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<img class="resize-w-50" src="assets/img/icon-lainnya.png">
							</div>
							<div class="col-md-5 wrap">
								<b>Semen 500 sak</b><br>
								<span class="sz12 grey">bahan baku</span>
							</div>
							<div class="col-md-4">
								<button class="btn btn-1 sz12 left-15">BANTU</button>
							</div>
						</div>
					</div>
					<div class="lihat-lebih-banyak-sm bg-lightgrey">
						<a href="">Lihat lebih banyak <i class="fa fa-angle-right" aria-hidden="true"></i></a>
					</div>
				</div>

				<!-- KONEKSI -->
				<div class="content-panel panel panel-default">
					<div class="panel-heading">KONEKSI (42)</div>
					<div class="panel-body panel-list-noborder">
						<div class="row">
							<a href="#">
								<div class="col-md-3">
									<img class="resize-w-50" src="assets/img/pimnas.jpeg">
								</div>
								<div class="col-md-9 wrap">
									<b>UI to PIMNAS</b><br>
									<span class="sz12 grey">Board of Trustees</span>
								</div>
							</a>
						</div>
						<div class="row">
							<a href="#">
								<div class="col-md-3">
									<img class="resize-w-50" src="assets/img/pimnas.jpeg">
								</div>
								<div class="col-md-9 wrap">
									<b>UI to PIMNAS</b><br>
									<span class="sz12 grey">Board of Trustees</span>
								</div>
							</a>
						</div>
					</div>
				</div>

				<!-- UPDATE -->
				<div class="content-panel panel panel-default">
					<div class="panel-heading">UPDATE TERBARU</div>
					<div class="panel-body panel-list">
						<div class="row news">
							<span class="sz12 lightgrey float-right left--15">4 hari</span>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad...
							<span><a href="">Lihat lebih lanjut</a></span>
						</div>
						<div class="row news">
							<span class="sz12 lightgrey float-right left--15">4 hari</span>
							<img class="resize-w-100 float-left" src="assets/img/blog.jpg" alt="">
							Lorem ipsum dolor sitamet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad...
							<span><a href="">Lihat lebih lanjut</a></span>
						</div>
					</div>
				</div>

			</div>

			<!-- CONTENT -->
			<div class="col-md-5">
				<!-- DANA -->
				<div class="content-panel panel panel-default" id="panel-dana-1">
					<!-- tambahin untuk view by me -->
					<div class="panel-edit">
						<i class="fa fa-pencil" aria-hidden="true" id="edit-1"></i>
						<i class="fa fa-arrows-v" aria-hidden="true" id="drag-1"></i>
					</div>
					<!-- end of tambahan untuk view by me -->
					<div class="panel-body">
						<div class="row top--15 bottom-15">
							<div class="bigpanel-heading brown">
								<div class="col-md-2">
									<img class="resize-w-50" src="assets/img/icon-dana.png">
								</div>
								<div class="col-md-8 left-20">
									Dana
									<div class="sz12 proxima">
										Label: &nbsp;&nbsp;
										<span class="label label-default bg-lightgrey brown">investasi</span>
										<span class="label label-default bg-lightgrey brown">donasi</span>
										<span class="label label-default bg-lightgrey brown">bantuan sosial</span>
									</div>
								</div>
							</div>
						</div>
						<div class="line"></div>
						<div class="row top-7 bottom-7">
							<div class="col-md-12 left--15 sz20 gotham">
								Rp 80.000.000
							</div>
						</div>
						<div class="line"></div>
						<div class="row top-7 bottom-7">
							<div class="col-md-12">
								<div class="col-md-2">
									Dibuka<br>
									Ditutup
								</div>
								<div class="col-md-1">
									:<br>
									:
								</div>
								<div class="col-md-9">
									25 Agustus 2015, 08:00<br>
									1 Oktober 2015, 21:00
								</div>
							</div>
						</div>
						<div class="line"></div>
						<div class="row top-15 bottom-7">
							<div class="col-md-11 left--15">
								<b>Rencana Pemakaian</b>
								<table class="table table-bordered table-hover top-7">
									<thead class="text-center">
										<td>Nama Item</td>
										<td>Jumlah</td>
										<td>Satuan</td>
										<td>Biaya</td>
									</thead>
									<tr>
										<td>Semen</td>
										<td>100</td>
										<td>sak</td>
										<td>Rp 15.000.000</td>
									</tr>
									<tr>
										<td>Batu</td>
										<td>2</td>
										<td>truk</td>
										<td>Rp 8.000.000</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="line"></div>
						<!-- tambahin untuk view by others -->
						<div class="col-md-12 top-15 bottom-15">
							<button class="btn btn-4" id="btn-dana-1">BANTU PROYEK INI</button>
						</div>
						<!-- end of tambahan view by others -->
						<div class="col-md-12" id="bantu-dana-1">
							<ul class="nav nav-tabs ul-form">
								<li role="presentation" class="active" id="li-dana-penawaran-1"><a href="#dana-penawaran-1"><i class="flaticon-add13 left-20"></i><span>Pilih dari Penawaran Saya</span></a></li>
								<li role="presentation" id="li-dana-meetmail-1"><a href="#dana-meetmail-1"><i class="flaticon-envelope54 left-20"></i><span>Kirim Meetmail<span></a></li>
							</ul>
							<div class="content-tab" id="dana-penawaran-1">
								<div class="row top-15">
									<div class="col-md-12">
										<div class="col-md-12 penawaran-items">
											<div class="col-md-4" id="id-penawaran-item-1">
												<img class="resize-w-50 center-block" src="assets/img/pimnas.jpeg">
												<div class="text-center">Sobat Bumi Indonesia</div>
											</div>
											<div class="col-md-4" id="id-penawaran-item-2">
												<img class="resize-w-50 center-block" src="assets/img/pimnas.jpeg">
												<div class="text-center">Dana Desa Perbatasan</div>
											</div>
											<div class="col-md-4" id="id-penawaran-item-3">
												<img class="resize-w-50 center-block" src="assets/img/pimnas.jpeg">
												<div class="text-center">Bensos Desa Mandiri</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row top-15">
									<div class="col-md-12">
										<div class="col-md-12 form-group">
											<textarea placeholder="Ketik pesan di sini..." class="form-control" rows="3" id="message"></textarea>
										</div>
									</div>
								</div>
								<div class="row bottom-15">
									<div class="col-md-12">
										<div class="col-md-6">
											<button class="col-md-12 btn btn-2 form-cancel">BATAL</button>
										</div>
										<div class="col-md-6">
											<button class="col-md-12 btn btn-1">KIRIM</button>
										</div>
									</div>
								</div>
							</div>
							<div class="content-tab" id="dana-meetmail-1">
								<div class="row top-15">
									<div class="col-md-12 bottom-15">
										<div class="col-md-12 gotham">Form Aplikasi Dana: Rp 80.000.0000</div>
									</div>
									<div class="col-md-12">
										<form>
											<div class="form-group col-md-12">
												<label>Kenapa Lala makan nasi goreng?</label>
												<input type="text" class="form-control">
											</div>
											<div class="form-group col-md-12">
												<label>Apa yang Anda harapkan?</label>
												<div class="form-group">
													<textarea class="form-control" rows="3" id="message"></textarea>
												</div>
											</div>
										</form>
									</div>
								</div>
								<div class="row bottom-15">
									<div class="col-md-12">
										<div class="col-md-6">
											<button class="col-md-12 btn btn-2 form-cancel">BATAL</button>
										</div>
										<div class="col-md-6">
											<button class="col-md-12 btn btn-1">KIRIM</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- SDM -->
				<div class="content-panel panel panel-default" id="panel-sdm-1">
					<!-- tambahin untuk view by me -->
					<div class="panel-edit">
						<i class="fa fa-pencil" aria-hidden="true" id="edit-2"></i>
						<i class="fa fa-arrows-v" aria-hidden="true" id="drag-2"></i>
					</div>
					<!-- end of tambahan untuk view by me -->
					<div class="panel-body">
						<div class="row top--15 bottom-15">
							<div class="bigpanel-heading brown">
								<div class="col-md-2">
									<img class="resize-w-50" src="assets/img/icon-sdm.png">
								</div>
								<div class="col-md-8 left-20">
									Sumber Daya Manusia
									<div class="sz12 proxima">
										Label: &nbsp;&nbsp;
										<span class="label label-default bg-lightgrey brown">relawan</span>
										<span class="label label-default bg-lightgrey brown">bantuan sosial</span>
									</div>
								</div>
							</div>
						</div>
						<div class="line"></div>
						<div class="row top-7 bottom-7">
							<div class="col-md-12 left--15 sz20 gotham">
								Technical Director
							</div>
						</div>
						<div class="line"></div>
						<div class="row top-7 bottom-7">
							<div class="col-md-12">
								<div class="col-md-2">
									Dibuka<br>
									Ditutup
								</div>
								<div class="col-md-1">
									:<br>
									:
								</div>
								<div class="col-md-9">
									25 Agustus 2015, 08:00<br>
									1 Oktober 2015, 21:00
								</div>
							</div>
						</div>
						<div class="line"></div>
						<div class="row top-15 bottom-7">
							<div class="col-md-11 left--15">
								<b>Tanggung Jawab</b><br>
								<ul class="top-7 left-15">
									<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
									</li>
									<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									</li>
								</ul>
							</div>
						</div>
						<div class="line"></div>
						<div class="row top-15 bottom-7">
							<div class="col-md-11 left--15">
								<b>Keuntungan Bergabung</b><br>
								<ul class="top-7 left-15">
									<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
									</li>
								</ul>
							</div>
						</div>
						<div class="line"></div>
						<div class="row top-15 bottom-7">
							<div class="col-md-11 left--15">
								<b>Eligibilitas</b><br>
								<ul class="top-7 left-15">
									<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
									</li>
									<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									</li>
								</ul>
							</div>
						</div>
						<div class="line"></div>
						<div class="row top-15 bottom-15">
							<div class="col-md-11 left--15">
								<b>Rincian Posisi</b><br>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							</div>
						</div>
						<div class="line"></div>
						<!-- tambahin untuk view by others -->
						<div class="col-md-12 top-15 bottom-15">
							<button class="btn btn-4" id="btn-sdm-1">BANTU PROYEK INI</button>
						</div>
						<!-- end of tambahan view by others -->
						<div class="col-md-12" id="bantu-sdm-1">
							<ul class="nav nav-tabs ul-form">
								<li role="presentation" class="active" id="li-sdm-penawaran-1"><a href="#sdm-penawaran-1"><i class="flaticon-add13 left-20"></i><span>Pilih dari Penawaran Saya</span></a></li>
								<li role="presentation" id="li-sdm-meetmail-1"><a href="#sdm-meetmail-1"><i class="flaticon-envelope54 left-20"></i><span>Kirim Meetmail<span></a></li>
							</ul>
							<div class="content-tab" id="sdm-penawaran-1">
								<div class="row top-15">
									<div class="col-md-12">
										<div class="col-md-12 penawaran-items">
											<div class="col-md-4" id="id-penawaran-item-1">
												<img class="resize-w-50 center-block" src="assets/img/pimnas.jpeg">
												<div class="text-center">Sobat Bumi Indonesia</div>
											</div>
											<div class="col-md-4" id="id-penawaran-item-2">
												<img class="resize-w-50 center-block" src="assets/img/pimnas.jpeg">
												<div class="text-center">Dana Desa Perbatasan</div>
											</div>
											<div class="col-md-4" id="id-penawaran-item-3">
												<img class="resize-w-50 center-block" src="assets/img/pimnas.jpeg">
												<div class="text-center">Bensos Desa Mandiri</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row top-15">
									<div class="col-md-12">
										<div class="col-md-12 form-group">
											<textarea placeholder="Ketik pesan di sini..." class="form-control" rows="3" id="message"></textarea>
										</div>
									</div>
								</div>
								<div class="row bottom-15">
									<div class="col-md-12">
										<div class="col-md-6">
											<button class="col-md-12 btn btn-2 form-cancel">BATAL</button>
										</div>
										<div class="col-md-6">
											<button class="col-md-12 btn btn-1">KIRIM</button>
										</div>
									</div>
								</div>
							</div>
							<div class="content-tab" id="sdm-meetmail-1">
								<div class="row top-15">
									<div class="col-md-12 bottom-15">
										<div class="col-md-12 gotham">Form Aplikasi Relawan: Technical Director</div>
									</div>
									<div class="col-md-12">
										<form>
											<div class="form-group col-md-12">
												<label>Kenapa Lala makan nasi goreng?</label>
												<input type="text" class="form-control">
											</div>
											<div class="form-group col-md-12">
												<label>Apa yang Anda harapkan?</label>
												<div class="form-group">
													<textarea class="form-control" rows="3" id="message"></textarea>
												</div>
											</div>
										</form>
									</div>
								</div>
								<div class="row bottom-15">
									<div class="col-md-12">
										<div class="col-md-6">
											<button class="col-md-12 btn btn-2 form-cancel">BATAL</button>
										</div>
										<div class="col-md-6">
											<button class="col-md-12 btn btn-1">KIRIM</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- TEKNOLOGI -->
				<div class="content-panel panel panel-default" id="panel-tekno-1">
					<!-- tambahin untuk view by me -->
					<div class="panel-edit">
						<i class="fa fa-pencil" aria-hidden="true" id="edit-3"></i>
						<i class="fa fa-arrows-v" aria-hidden="true" id="drag-3"></i>
					</div>
					<!-- end of tambahan untuk view by me -->
					<div class="panel-body">
						<div class="row top--15 bottom-15">
							<div class="bigpanel-heading brown">
								<div class="col-md-2">
									<img class="resize-w-50" src="assets/img/icon-tekno.png">
								</div>
								<div class="col-md-8 left-20">
									Teknologi
									<div class="sz12 proxima">
										Label: &nbsp;&nbsp;
										<span class="label label-default bg-lightgrey brown">aplikasi web</span>
										<span class="label label-default bg-lightgrey brown">teknologi informasi</span>
										<span class="label label-default bg-lightgrey brown">bantuan sosial</span>
									</div>
								</div>
							</div>
						</div>
						<div class="line"></div>
						<div class="row top-7 bottom-7">
							<div class="col-md-12 left--15 sz20 gotham">
								Website Edukasi mengenai Sanitasi
							</div>
						</div>
						<div class="line"></div>
						<div class="row top-7 bottom-7">
							<div class="col-md-12">
								<div class="col-md-2">
									Dibuka<br>
									Ditutup
								</div>
								<div class="col-md-1">
									:<br>
									:
								</div>
								<div class="col-md-9">
									25 Agustus 2015, 08:00<br>
									1 Oktober 2015, 21:00
								</div>
							</div>
						</div>
						<div class="line"></div>
						<div class="row top-15 bottom-15">
							<div class="col-md-11 left--15">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							</div>
						</div>
						<div class="line"></div>
						<!-- tambahin untuk view by others -->
						<div class="col-md-12 top-15 bottom-15">
							<button class="btn btn-4" id="btn-tekno-1">BANTU PROYEK INI</button>
						</div>
						<!-- end of tambahan view by others -->
						<div class="col-md-12" id="bantu-tekno-1">
							<ul class="nav nav-tabs ul-form">
								<li role="presentation" class="active" id="li-tekno-penawaran-1"><a href="#tekno-penawaran-1"><i class="flaticon-add13 left-20"></i><span>Pilih dari Penawaran Saya</span></a></li>
								<li role="presentation" id="li-tekno-meetmail-1"><a href="#tekno-meetmail-1"><i class="flaticon-envelope54 left-20"></i><span>Kirim Meetmail<span></a></li>
							</ul>
							<div class="content-tab" id="tekno-penawaran-1">
								<div class="row top-15">
									<div class="col-md-12">
										<div class="col-md-12 penawaran-items">
											<div class="col-md-4" id="id-penawaran-item-1">
												<img class="resize-w-50 center-block" src="assets/img/pimnas.jpeg">
												<div class="text-center">Sobat Bumi Indonesia</div>
											</div>
											<div class="col-md-4" id="id-penawaran-item-2">
												<img class="resize-w-50 center-block" src="assets/img/pimnas.jpeg">
												<div class="text-center">Dana Desa Perbatasan</div>
											</div>
											<div class="col-md-4" id="id-penawaran-item-3">
												<img class="resize-w-50 center-block" src="assets/img/pimnas.jpeg">
												<div class="text-center">Bensos Desa Mandiri</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row top-15">
									<div class="col-md-12">
										<div class="col-md-12 form-group">
											<textarea placeholder="Ketik pesan di sini..." class="form-control" rows="3" id="message"></textarea>
										</div>
									</div>
								</div>
								<div class="row bottom-15">
									<div class="col-md-12">
										<div class="col-md-6">
											<button class="col-md-12 btn btn-2 form-cancel">BATAL</button>
										</div>
										<div class="col-md-6">
											<button class="col-md-12 btn btn-1">KIRIM</button>
										</div>
									</div>
								</div>
							</div>
							<div class="content-tab" id="tekno-meetmail-1">
								<div class="row top-15">
									<div class="col-md-12 bottom-15">
										<div class="col-md-12 gotham">Form Aplikasi Teknologi: Website Edukasi</div>
									</div>
									<div class="col-md-12">
										<form>
											<div class="form-group col-md-12">
												<label>Kenapa Lala makan nasi goreng?</label>
												<input type="text" class="form-control">
											</div>
											<div class="form-group col-md-12">
												<label>Apa yang Anda harapkan?</label>
												<div class="form-group">
													<textarea class="form-control" rows="3" id="message"></textarea>
												</div>
											</div>
										</form>
									</div>
								</div>
								<div class="row bottom-15">
									<div class="col-md-12">
										<div class="col-md-6">
											<button class="col-md-12 btn btn-2 form-cancel">BATAL</button>
										</div>
										<div class="col-md-6">
											<button class="col-md-12 btn btn-1">KIRIM</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- LAINNYA -->
				<div class="content-panel panel panel-default" id="panel-lainnya-1">
					<!-- tambahin untuk view by me -->
					<div class="panel-edit">
						<i class="fa fa-pencil" aria-hidden="true" id="edit-4"></i>
						<i class="fa fa-arrows-v" aria-hidden="true" id="drag-4"></i>
					</div>
					<!-- end of tambahan untuk view by me -->
					<div class="panel-body">
						<div class="row top--15 bottom-15">
							<div class="bigpanel-heading brown">
								<div class="col-md-2">
									<img class="resize-w-50" src="assets/img/icon-lainnya.png">
								</div>
								<div class="col-md-8 left-20">
									Spesifik Item
									<div class="sz12 proxima">
										Label: &nbsp;&nbsp;
										<span class="label label-default bg-lightgrey brown">bahan bangunan</span>
										<span class="label label-default bg-lightgrey brown">bantuan sosial</span>
									</div>
								</div>
							</div>
						</div>
						<div class="line"></div>
						<div class="row top-7 bottom-7">
							<div class="col-md-12 left--15 sz20 gotham">
								Bata dan Pasir
							</div>
						</div>
						<div class="line"></div>
						<div class="row top-7 bottom-7">
							<div class="col-md-12">
								<div class="col-md-2">
									Dibuka<br>
									Ditutup
								</div>
								<div class="col-md-1">
									:<br>
									:
								</div>
								<div class="col-md-9">
									25 Agustus 2015, 08:00<br>
									1 Oktober 2015, 21:00
								</div>
							</div>
						</div>
						<div class="line"></div>
						<div class="row top-15 bottom-7">
							<div class="col-md-11 left--15">
								<b>Kebutuhan</b>
								<table class="table table-bordered table-hover top-7">
									<thead class="text-center">
										<td>Nama Item</td>
										<td>Jumlah</td>
										<td>Satuan</td>
									</thead>
									<tr>
										<td>Semen</td>
										<td>100</td>
										<td>sak</td>
									</tr>
									<tr>
										<td>Batu</td>
										<td>2</td>
										<td>truk</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="line"></div>
						<div class="row top-15 bottom-15">
							<div class="col-md-11 left--15">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							</div>
						</div>
						<div class="line"></div>
						<!-- tambahin untuk view by others -->
						<div class="col-md-12 top-15 bottom-15">
							<button class="btn btn-4" id="btn-lainnya-1">BANTU PROYEK INI</button>
						</div>
						<!-- end of tambahan view by others -->
						<div class="col-md-12" id="bantu-lainnya-1">
							<ul class="nav nav-tabs ul-form">
								<li role="presentation" class="active" id="li-lainnya-penawaran-1"><a href="#lainnya-penawaran-1"><i class="flaticon-add13 left-20"></i><span>Pilih dari Penawaran Saya</span></a></li>
								<li role="presentation" id="li-lainnya-meetmail-1"><a href="#lainnya-meetmail-1"><i class="flaticon-envelope54 left-20"></i><span>Kirim Meetmail<span></a></li>
							</ul>
							<div class="content-tab" id="lainnya-penawaran-1">
								<div class="row top-15">
									<div class="col-md-12">
										<div class="col-md-12 penawaran-items">
											<div class="col-md-4" id="id-penawaran-item-1">
												<img class="resize-w-50 center-block" src="assets/img/pimnas.jpeg">
												<div class="text-center">Sobat Bumi Indonesia</div>
											</div>
											<div class="col-md-4" id="id-penawaran-item-2">
												<img class="resize-w-50 center-block" src="assets/img/pimnas.jpeg">
												<div class="text-center">Dana Desa Perbatasan</div>
											</div>
											<div class="col-md-4" id="id-penawaran-item-3">
												<img class="resize-w-50 center-block" src="assets/img/pimnas.jpeg">
												<div class="text-center">Bensos Desa Mandiri</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row top-15">
									<div class="col-md-12">
										<div class="col-md-12 form-group">
											<textarea placeholder="Ketik pesan di sini..." class="form-control" rows="3" id="message"></textarea>
										</div>
									</div>
								</div>
								<div class="row bottom-15">
									<div class="col-md-12">
										<div class="col-md-6">
											<button class="col-md-12 btn btn-2 form-cancel">BATAL</button>
										</div>
										<div class="col-md-6">
											<button class="col-md-12 btn btn-1">KIRIM</button>
										</div>
									</div>
								</div>
							</div>
							<div class="content-tab" id="lainnya-meetmail-1">
								<div class="row top-15">
									<div class="col-md-12 bottom-15">
										<div class="col-md-12 gotham">Form Aplikasi lainnyalogi: Website Edukasi</div>
									</div>
									<div class="col-md-12">
										<form>
											<div class="form-group col-md-12">
												<label>Kenapa Lala makan nasi goreng?</label>
												<input type="text" class="form-control">
											</div>
											<div class="form-group col-md-12">
												<label>Apa yang Anda harapkan?</label>
												<div class="form-group">
													<textarea class="form-control" rows="3" id="message"></textarea>
												</div>
											</div>
										</form>
									</div>
								</div>
								<div class="row bottom-15">
									<div class="col-md-12">
										<div class="col-md-6">
											<button class="col-md-12 btn btn-2 form-cancel">BATAL</button>
										</div>
										<div class="col-md-6">
											<button class="col-md-12 btn btn-1">KIRIM</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="assets/js/profile.js" type="text/javascript"></script>
</body>

</html>
	