<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="shortcut icon" type="image/x-icon" href="assets/img/meetchangeicon.png" />
	<link href="assets/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
	<link href="assets/css/main.css" type="text/css" rel="stylesheet"/>
	<link href="assets/css/font-awesome.css" type="text/css" rel="stylesheet"/>
	<link href="assets/css/profile.css" type="text/css" rel="stylesheet"/>
	<link href="assets/css/flaticon.css" type="text/css" rel="stylesheet"/> 
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>

<body>
	<div class="container-fluid">
		<div class="row nav bg-brown profilepage">
			<div class="col-md-4 col-md-offset-1">
				<form role="form" class="form-group form-search">
					<input class="form-control form-group" type="text"/>
				</form>
			</div>
			<div class="col-md-4">
			</div>
		</div>
		<div class="row nav subnav bg-lightbrown">
			<div class="col-md-11 col-md-offset-1">
				<ul class="nav navbar-nav">
					<li><a href="#">Beranda</a></li>
					<li><a href="#">Profil</a></li>
					<li><a href="#">Organisasi</a></li>
					<li><a href="#">Proyek</a></li>
					<li><a href="#">Penawaran</a></li>
				</ul>
			</div>
		</div>
		<div class="row section cover">
			<!-- view by others -->
			<div class="btn-cover right-50">
				<button class="btn btn-3 fa"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
				<button class="btn btn-3"><i class="flaticon-envelope54"></i><span> Kirim Meetmail</span></button>
				<button class="btn btn-3"><i class="flaticon-hand226"></i><span> Bantu Proyek Ini</span></button>
			</div>
			<!-- end view by others -->
		</div>
		<div class="row ppmenu">
			<div class="col-md-3 col-md-offset-1">
				<img class="resize-h-200 profile-photo" src="assets/img/foto2.jpg"/>
			</div>
			<div class="col-md-8">
				<div class="profile-name">
					<div class="sz32 white gotham">Air untuk Kita</div>
					<div class="sz20 white">Proyek<br></div>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">TENTANG</a></li>
					<li><a href="#">KOLABORASI</a></li>
					<li><a href="#">KONEKSI</a></li>
					<li><a href="#">AKTIVITAS</a></li>
					<li><a href="#">LAINNYA</a></li>
				</ul>
			</div>
		</div>
		<div class="row container-content bg-lightgrey">
			<!-- SIDEBAR -->
			<div class="col-md-3 col-md-offset-1">
				<!-- INFO UMUM -->
				<div class="content-panel panel panel-default">
					<div class="panel-body">
						<div class="row left-30">
							<div class="col-md-2"><i class="flaticon-notes27"></i></div>
							<div class="col-md-10 no-margin">Distribusi air bersih di Jawa dan NTT</div>
						</div>
						<div class="row left-30">
							<div class="col-md-2"><i class="flaticon-profile29"></i></div>
							<div class="col-md-10 no-margin bottom-7 top-7">
								<a href="#">
									<div class="col-md-3 left-15">
										<img class="resize-w-50" src="assets/img/pimnas.jpeg">
									</div>
									<div class="col-md-9">
										<b>UI to PIMNAS</b><br>
										<span class="sz12 grey">Board of Trustees</span>
									</div>
								</a>
							</div>
						</div>
						<div class="row left-30">
							<div class="col-md-2"><i class="flaticon-label36"></i></div>
							<div class="col-md-10 no-margin">Tahap Awal Pengembangan</div>
						</div>
						<div class="row left-30">
							<div class="col-md-2"><i class="flaticon-location67"></i></div>
							<div class="col-md-10 no-margin">Desa Cibiru, Desa Sukamandi, Kelurahan Tatahan Utara, <a href="">+6</a></div>
						</div>
						<div class="row left-30">
							<div class="col-md-2"><i class="flaticon-favourite24" alt="Label "></i></div>
							<div class="col-md-10 no-margin">Sanitasi, Air</div>
						</div>
						<div class="row">
							<div class="col-md-12 top-15 bottom-15">
								<button class="btn btn-4">UNDUH PROPOSAL</button>
							</div>
						</div>
						<div class="row top-15">
							<div class="col-md-6 bg-lightgrey fol vertical-line">
								<center>Kolaborator</center>
							</div>
							<div class="col-md-6 bg-lightgrey fol">
								<center>Diikuti</center>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 sz16 bold vertical-line fol-numb">
								<center>42</center>
							</div>
							<div class="col-md-6 sz16 bold fol-numb">
								<center>23</center>
							</div>
						</div>
					</div>
				</div>

				<!-- AYO KOLABORASI -->
				<div class="content-panel panel panel-default">
					<div class="panel-heading">AYO KOLABORASI</div>
					<div class="panel-body panel-list-noborder">
						<div class="row">
							<div class="col-md-3">
								<img class="resize-w-50" src="assets/img/icon-dana.png">
							</div>
							<div class="col-md-5 wrap">
								<b>Rp 60.000.000</b><br>
								<span class="sz12 grey">investasi, donasi</span>
							</div>
							<div class="col-md-4">
								<button class="btn btn-1 sz12 left-15">BANTU</button>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<img class="resize-w-50" src="assets/img/icon-sdm.png">
							</div>
							<div class="col-md-5 wrap">
								<b>Content Editor</b><br>
								<span class="sz12 grey">part-time</span>
							</div>
							<div class="col-md-4">
								<button class="btn btn-1 sz12 left-15">BANTU</button>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<img class="resize-w-50" src="assets/img/icon-lainnya.png">
							</div>
							<div class="col-md-5 wrap">
								<b>Semen 500 sak</b><br>
								<span class="sz12 grey">bahan baku</span>
							</div>
							<div class="col-md-4">
								<button class="btn btn-1 sz12 left-15">BANTU</button>
							</div>
						</div>
					</div>
					<div class="lihat-lebih-banyak-sm bg-lightgrey">
						<a href="">Lihat lebih banyak <i class="fa fa-angle-right" aria-hidden="true"></i></a>
					</div>
				</div>

				<!-- KONEKSI -->
				<div class="content-panel panel panel-default">
					<div class="panel-heading">KONEKSI (42)</div>
					<div class="panel-body panel-list-noborder">
						<div class="row">
							<a href="#">
								<div class="col-md-3">
									<img class="resize-w-50" src="assets/img/pimnas.jpeg">
								</div>
								<div class="col-md-9 wrap">
									<b>UI to PIMNAS</b><br>
									<span class="sz12 grey">Board of Trustees</span>
								</div>
							</a>
						</div>
						<div class="row">
							<a href="#">
								<div class="col-md-3">
									<img class="resize-w-50" src="assets/img/pimnas.jpeg">
								</div>
								<div class="col-md-9 wrap">
									<b>UI to PIMNAS</b><br>
									<span class="sz12 grey">Board of Trustees</span>
								</div>
							</a>
						</div>
					</div>
				</div>

				<!-- UPDATE -->
				<div class="content-panel panel panel-default">
					<div class="panel-heading">UPDATE TERBARU</div>
					<div class="panel-body panel-list">
						<div class="row news">
							<span class="sz12 lightgrey float-right left--15">4 hari</span>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad...
							<span><a href="">Lihat lebih lanjut</a></span>
						</div>
						<div class="row news">
							<span class="sz12 lightgrey float-right left--15">4 hari</span>
							<img class="resize-w-100 float-left" src="assets/img/blog.jpg" alt="">
							Lorem ipsum dolor sitamet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad...
							<span><a href="">Lihat lebih lanjut</a></span>
						</div>
					</div>
				</div>

			</div>

			<!-- CONTENT -->
			<div class="col-md-5">
				<!-- SIAPA KAMI -->
				<div class="content-panel panel panel-default" id="panel-ringkasan">
					<!-- tambahin untuk view by me -->
					<div class="panel-edit">
						<i class="flaticon-pencil124" id="edit-1"></i>
					</div>
					<!-- end of tambahan untuk view by me -->
					<div class="bigpanel-heading brown">Ringkasan</div>
					<div class="panel-body">
						<div class="content-item">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							<div class="attachments">
								<div class="attachment">
									<!-- thumbnail preview pdf katanya pakai php, bisa diliat disini http://stackoverflow.com/questions/467793/how-do-i-convert-a-pdf-document-to-a-preview-image-in-php -->
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- DESKRIPSI PROYEK -->
				<div class="content-panel panel panel-default" id="panel-deskripsi">
					<!-- tambahin untuk view by me -->
					<div class="panel-edit">
						<i class="fa fa-plus" aria-hidden="true" id="add-2"></i>
						<i class="fa fa-pencil" aria-hidden="true" id="edit-2"></i>
						<i class="fa fa-arrows-v" aria-hidden="true" id="drag-2"></i>
					</div>
					<!-- end of tambahan untuk view by me -->
					<div class="bigpanel-heading brown">Deskripsi Proyek</div>
					<div class="panel-body">
						<div class="content-item">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							<div class="attachments">
								<div class="attachment">
									<!-- thumbnail preview pdf katanya pakai php, bisa diliat disini http://stackoverflow.com/questions/467793/how-do-i-convert-a-pdf-document-to-a-preview-image-in-php -->
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- LATAR BELAKANG -->
				<div class="content-panel panel panel-default" id="panel-latarbelakang">
					<!-- tambahin untuk view by me -->
					<div class="panel-edit">
						<i class="fa fa-plus" aria-hidden="true" id="add-3"></i>
						<i class="fa fa-pencil" aria-hidden="true" id="edit-3"></i>
						<i class="fa fa-arrows-v" aria-hidden="true" id="drag-3"></i>
					</div>
					<!-- end of tambahan untuk view by me -->
					<div class="bigpanel-heading brown">Latar Belakang Masalah</div>
					<div class="panel-body">
						<div class="content-item" id="latar-belakang">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

							<div class="row top-15 lebih-lanjut">
								<div class="col-md-12">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
								</div>
							</div>
							<div class="row">
								<div class="sz12 orange float-right lihat-lebih-lanjut">Lihat lebih lanjut</div>
							</div>
						</div>
					</div>
				</div>

				<!-- SOLUSI -->
				<div class="content-panel panel panel-default" id="panel-solusi">
					<!-- tambahin untuk view by me -->
					<div class="panel-edit">
						<i class="fa fa-plus" aria-hidden="true" id="add-4"></i>
						<i class="fa fa-pencil" aria-hidden="true" id="edit-4"></i>
						<i class="fa fa-arrows-v" aria-hidden="true" id="drag-4"></i>
					</div>
					<!-- end of tambahan untuk view by me -->
					<div class="bigpanel-heading brown">Solusi</div>
					<div class="panel-body">
						<!-- if there's no picture -->
						<div class="content-item" id="id-solusi-1">
							<div class="row">
								<div class="wrap-txt-img">
									<div class="sz16"><b>Menggalang Dana</b></div>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis nostrud exercitation ullamco laboris.
									<br style="clear:both" />
								</div>
							</div>
						</div>
						<div class="line"></div>
						<div class="content-item" id="id-solusi-2">
								<div class="row">
									<div class="wrap-txt-img">
										<div class="sz16"><b>Dana untuk Pendidikan</b></div>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis nostrud exercitation ullamco laboris.
										<br style="clear:both" />
										<div class="box-img img-float-left">
											<img src="assets/img/blog.jpg" class="top-7" />
										</div>
									</div>
								</div>
							</div>
						<div class="lebih-banyak">
							<div class="line"></div>
							<!-- if there's no picture -->
							<div class="content-item" id="id-solusi-3">
								<div class="row">
									<div class="wrap-txt-img">
										<div class="sz16"><b>Pembicara Bidang Kepemimpinan dan Inovasi Sosial</b></div>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis nostrud exercitation ullamco laboris.
										<br style="clear:both" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- if there's more than 2 items -->
					<div class="lihat-lebih-banyak bg-lightgrey">
						Lihat lebih banyak <i class="fa fa-angle-down" aria-hidden="true"></i>
					</div>
				</div>

				<!-- SASARAN DAN LOKASI -->
				<div class="content-panel panel panel-default" id="panel-sasaran">
					<!-- tambahin untuk view by me -->
					<div class="panel-edit">
						<i class="fa fa-plus" aria-hidden="true" id="add-5"></i>
						<i class="fa fa-pencil" aria-hidden="true" id="edit-5"></i>
						<i class="fa fa-arrows-v" aria-hidden="true" id="drag-5"></i>
					</div>
					<!-- end of tambahan untuk view by me -->
					<div class="bigpanel-heading brown">Sasaran dan Lokasi</div>
					<div class="panel-body">
						<div class="content-item">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="col-md-2 left-50"><i class="flaticon-profile29"></i></div>
										<div class="col-md-12 no-margin left-30 bottom-7">Masyarakat petani Desa Cibiru</div>
									</div>
									<div class="col-md-12">
										<div class="col-md-2 left-50"><i class="flaticon-location67"></i></div>
										<div class="col-md-12 no-margin left-30">Desa Cibiru, Kec. Angke, Kab. Cisalak, Jawa Barat</div>
									</div>
								</div>
							</div>
						</div>
						<div class="line"></div>
						<div class="content-item">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="col-md-2 left-50"><i class="flaticon-profile29"></i></div>
										<div class="col-md-12 no-margin left-30 bottom-7">Masyarakat kelurahan Tanah Baru dengan rumah yang kurang layak</div>
									</div>
									<div class="col-md-12">
										<div class="col-md-2 left-50"><i class="flaticon-location67"></i></div>
										<div class="col-md-12 no-margin left-30">Kelurahan Tanah Baru, Kec. Bogor Utara, Kota Bogor, Jawa Barat</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- RENCANA WAKTU -->
				<div class="content-panel panel panel-default" id="panel-timeline">
					<!-- tambahin untuk view by me -->
					<div class="panel-edit">
						<i class="fa fa-plus" aria-hidden="true" id="add-6"></i>
						<i class="fa fa-pencil" aria-hidden="true" id="edit-6"></i>
						<i class="fa fa-arrows-v" aria-hidden="true" id="drag-6"></i>
					</div>
					<!-- end of tambahan untuk view by me -->
					<div class="bigpanel-heading brown">Rencana Waktu Pelaksanaan</div>
					<div class="panel-body">
						<div class="content-item">
							<div class="row">
								<div class="col-md-12 bottom-15">
									<div class="sz16 bottom-7">Audiensi stakeholder</div>
										<div class="progress">
											<div class="progress-bar progress-bar-blank" style="width: 16.67%">
											</div>
											<div class="progress-bar progress-bar-orange" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 16.67%">
												<span class="sr-only">(tanggal berlangsung)</span>
											</div>
										</div>
									<div class="col-md-4 sz12 top--15 grey">OKT</div>
									<div class="col-md-4 sz12 top--15 grey">NOV</div>
									<div class="col-md-4 sz12 top--15 grey">DES</div>
								</div>
								<div class="col-md-12 bottom-15">
									<div class="sz16 bottom-7">Pengadaan Bahan Baku</div>
										<div class="progress">
											<div class="progress-bar progress-bar-blank" style="width: 24.99%">
											</div>
											<div class="progress-bar progress-bar-orange" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 24.99%">
												<span class="sr-only">(tanggal berlangsung)</span>
											</div>
										</div>
									<div class="col-md-4 sz12 top--15 grey">OKT</div>
									<div class="col-md-4 sz12 top--15 grey">NOV</div>
									<div class="col-md-4 sz12 top--15 grey">DES</div>
								</div>
								<div class="col-md-12 bottom-15">
									<div class="sz16 bottom-7">Pelaksanaan Proyek</div>
										<div class="progress">
											<div class="progress-bar progress-bar-blank" style="width: 33.33%">
											</div>
											<div class="progress-bar progress-bar-orange" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 49.99%">
												<span class="sr-only">(tanggal berlangsung)</span>
											</div>
										</div>
									<div class="col-md-4 sz12 top--15 grey">NOV</div>
									<div class="col-md-4 sz12 top--15 grey">DES</div>
									<div class="col-md-4 sz12 top--15 grey">JAN</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- DAMPAK -->
				<div class="content-panel panel panel-default" id="panel-dampak">
					<!-- tambahin untuk view by me -->
					<div class="panel-edit">
						<i class="fa fa-plus" aria-hidden="true" id="add-7"></i>
						<i class="fa fa-pencil" aria-hidden="true" id="edit-7"></i>
						<i class="fa fa-arrows-v" aria-hidden="true" id="drag-7"></i>
					</div>
					<!-- end of tambahan untuk view by me -->
					<div class="bigpanel-heading brown">Dampak</div>
					<div class="panel-body">
						<div class="content-item">
							<div class="row">
								<!-- if there's no picture -->
								<div class="col-md-12 desc">
									<div class="sz16"><b>Membangun 100 rumah hemat energi di Desa Cijeruk</b></div>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
								</div>
							</div>
							<div class="row top-7">
								<div class="col-md-12">
									<div class="col-md-2 left-35"><i class="flaticon-calendar1"></i></div>
									<div class="col-md-10 no-margin left-30">Juni 2015 - Sekarang</div>
								</div>
								<div class="col-md-12">
									<div class="col-md-2 left-35"><i class="flaticon-location67"></i></div>
									<div class="col-md-10 no-margin left-30">Cijeruk, Kabupate Cianjur</div>
								</div>
								<div class="col-md-12 top-7">
									Kolaborator: 
								</div>
								<div class="col-md-12 top-7">
									<div class="col-md-6 link-orange">
										<a href="#">
											<div class="col-md-4 left-30">
												<img class="resize-w-50" src="assets/img/pimnas.jpeg">
											</div>
											<div class="col-md-8 wrap">
												<b>UI to PIMNAS</b><br>
												<span  class="sz12 grey">Organisasi Masyarakat</span>
											</div>
										</a>
									</div> 
									<div class="col-md-6 link-orange">
										<a href="#">
											<div class="col-md-4 left-30">
												<img class="resize-w-50" src="assets/img/pimnas.jpeg">
											</div>
											<div class="col-md-8 wrap">
												<b>UI to PIMNAS</b><br>
												<span class="sz12 grey">Organisasi Masyarakat</span>
											</div>
										</a>
									</div> 
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<script src="assets/js/profile.js" type="text/javascript"></script>
</body>

</html>
	